.App {
  text-align: center;
  background-color: #FFFFFF;
  max-width: 1010px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 18px 0;
  font-family: 'Inter', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-tabs-nav {
  align-self: center;
}

.attribution {
  padding-top: 1rem;
  font-size: .6em;
  color: #EEEEEE;
}

.search-form {
  margin: 4px 36px 32px;
}

.alert-box {
  display: flex;
  align-items: center;
  height: 300px;
  margin: 5rem 3rem 25rem;
  font-size: 2rem;
  text-align: left;
}
.ant-spin {
  display: block;
  padding: 3rem;
  margin-bottom: 35rem;
  margin-top: 5rem;
  transform: scale(3);
}

.ant-card-body {
  padding: 0 24px 0 0
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
