body {
  height: 100%;
  background-color: #E5E5E5;
}

.App {
  text-align: center;
  background-color: #FFFFFF;
  width: 420px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.ant-tabs-nav {
  align-self: center;
}

.attribution {
  padding: 1rem;
  font-size: .75em;
  color: #EEEEEE;
}
.attribution a {
  color: #909090
}

.alert-box {
  margin: 3rem 6px 3rem -4px;
  font-size: 2rem;
  text-align: left;
}

.ant-spin {
  display: block;
  padding: 3rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.ant-card-body {
  padding: 0 24px 0 0
}

.ant-tabs-tab {
  margin: 0;
  padding: 12px 16px;
}

@media screen and (min-width:768px) {
  .ant-spin {
    transform: scale(1.25);
  }
  .ant-spin.ant-spin-show-text .ant-spin-text {
    font-size: 1.15rem;
  }
  
}

@media screen and (min-width:1010px) {

  .App {
    width: 1010px;
    box-sizing: border-box;
    padding: 0 36px 0;
  }

  .ant-spin.ant-spin-show-text .ant-spin-text {
    font-size: 1.3rem
  }

}
