.App {
  text-align: center;
  background-color: #FFFFFF;
  max-width: 1010px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 18px 0;
  font-family: 'Inter', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-tabs-nav {
  align-self: center;
}

.attribution {
  font-size: .6em;
  color: #EEEEEE;
}

.search-form {
  margin: 32px;
}

.search-results--wrap {
  padding: 0 36px;
  min-width: 938px;
}

.alert-box {
  text-align: center;
  height: 300px;
}

.ant-card-body {
  padding: 0 24px 0 0
}

.movie {
  position: relative;
  min-width: 454px;
  height: 281px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .15);
  text-align: left;
  overflow: hidden;
}

.movie ::after {
  clear: both;
}

.movies-list {
  display: flex;
  justify-content: space-around;
}

.movie--title {
  margin-top: 12px;
  margin-bottom: 0;
  
  margin-right: 25px;
  font-size: 20px;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.movie--release-date {
  display: block;
  margin-top: 7px;
  
  font-size: 12px;
  line-height: 22px;
  color: #827E7E;
}
.movie--genres {
  list-style: none;
  margin-top: 7px;
  margin-bottom: 0;
  max-height: 52px;
  overflow: hidden;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}
.movie--genres li {
  display: inline-block;
  margin-right: 8px;
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  padding: 2px 5px;
  border-radius: 2px;
  margin-bottom: 5px;
}
.movie--overview, .movie--vote-average {
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}
.movie--overview {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  hyphens: auto;
}

.movie--vote-average {
  position: absolute;
  z-index: 1;
  width: 30px;
  right: 9px;
  top: 12px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #E9D100;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie--poster {
  float: left;
  max-width: 185px;
  margin-right: 20px;
}

.movie--rate {
  position: absolute;
  z-index: 7;
  left: 203px;
  bottom: 16px;
}
.ant-rate-star:not(:last-child) {
  margin-right: 6px;
}
.ant-rate-star.ant-rate-star-full svg {
  width: 18px;
  height: 20px;
  margin-right: 0;
}
.ant-rate-star.ant-rate-star-zero svg {
  width: 18px;
  height: 20px;
  margin-right: 0;
}
.ant-rate-star.ant-rate-star-half svg {
  width: 18px;
  height: 20px;
  margin-right: 0;
}
.alert-box {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
