.movie {
  position: relative;
  width: 387px;
  height: 245px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2);
  text-align: left;
  overflow: hidden;
}
  .movie ::after {
    clear: both;
  }
  .movie--title {
    margin: 4px 20px 0 0;
    padding-left: 13px;
    font-size: 20px;
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .movie--release-date {
    display: inline-block;
    margin-top: 7px;
    padding-left: 13px;
    line-height: 22px;
    color: #827E7E;
    font-size: 12px;
  }
  .movie--genres {
    list-style: none;
    margin-top: 7px;
    margin-bottom: 0;
    max-height: 26px;
    overflow: hidden;
    padding: 0 0 0 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, .65);
  }
    .movie--genres li {
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 8px;
      background: #FAFAFA;
      border: 1px solid #D9D9D9;
      padding: 2px 5px;
      border-radius: 2px;
      font-size: 12px;
    }
  .movie--overview, .movie--vote-average {
    line-height: 22px;
    color: #000000;
    font-size: 12px;
  }
  .movie--overview {
    margin-top: 5px;
    padding-left: 10px;
    margin-right: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
  }
  .movie--vote-average {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 5px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #E9D100;
    align-items: center;
    justify-content: center;
  }
  .movie--poster {
    float: left;
    max-width: 60px;
    margin: 6px 0 0 10px;
  }
  .movie--rate {
    position: absolute;
    z-index: 7;
    right: 12px;
    bottom: 16px;
  }
    .movie--rate .ant-rate-star:not(:last-child) {
      margin-right: 6px;
    }
    .movie--rate .ant-rate-star.ant-rate-star-full svg,
    .movie--rate .ant-rate-star.ant-rate-star-zero svg,
    .movie--rate .ant-rate-star.ant-rate-star-half svg {
      width: 18px;
      height: 20px;
      margin-right: 0;
    }
  .movie .rate-low {
    border-color: #E90000
  }
  .movie .rate-poor {
    border-color: #E97E00
  }
  .movie .rate-norm {
    border-color: #E9D100
  }
  .movie .rate-top {
    border-color: #66E900
  }

.search-results--wrap {
  margin: 0 16px;
  padding: 0;
}

.movies-list {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 576px) {
  .ant-col-sm-12 {
    display: block;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important; 
    max-width: 100% !important;
  }
}


@media screen and (min-width:1010px) {
  .movie {
    min-width: 451px;
    height: 279px;
  }
  .movie--title {
    margin-top: 12px;
    margin-right: 25px;
    padding-left: 20px;
  }
  .movie--release-date {
    padding-left: 20px;
  }
  .movie--genres {
    padding-left: 20px;
    max-height: 52px;
    margin-right: 0;
  }
  .movie--overview {
    padding-left: 20px;
    margin-right: 0;
  }
  .movie--vote-average {   
    right: 9px;
    top: 12px;
  }
  .movie--poster {
    max-width: 185px;
    margin: 0;
  }
  .search-results--wrap {
    padding: 0;
    margin: 0 -6px 0 4px;
  }
  .movie--rate {
    right: 18px;
  }

  .ant-col-sm-12 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important; 
    max-width: 50% !important;
  }
}
